<%- include('./partials/head') %>
<% if (usuarioLogueado === true) {%>
  <%- include('./partials/headerLogueado') %>
  <%} else {%>
    <%- include('./partials/header') %>
<%}%>


<div class="section-formularios">
    <div class="container-forms">
        <div class="row">
            <div class="col-12">
                <h2 class="titulos-formularios">Agregar productos</h2>
            </div>
                <form class="formularios">
                <div>
                    <p>Imagen del producto: </p>
                    <input type="file" placeholder="Imagen del producto">
                </div>
                <div>
                    <input type="text" placeholder="Nombre del producto">
                </div>
                <div>
                    <input type="text" placeholder="descripcion">
                </div>
                <div>
                    <input type="date" placeholder="Fecha de carga">
                </div>
                <button>Subir producto</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>