<%- include('./partials/head')  %>
<% if (usuarioLogueado === true) {%>
    <%- include('./partials/headerLogueado') %>
<%} else {%>
    <%- include('./partials/header') %>
<%}%>

<section class="section-formularios">
<div class="container-forms">
    <div class="row">
        <div class="col-12">
            <h2 class="titulos-formularios">Editar mi perfil</h2>
        </div>

        <h2 class="col-12"> 
            <form class="formularios">
                <div>
                    <input type="email" placeholder="Digita tu mail">
                </div>
                <div>
                    <input type="text" placeholder="Digita tu usuario">
                </div>
                <div>
                    <input type="password" placeholder="Digita tu contrasenia">
                </div>
                <div>
                    <input type="date" placeholder="Digita tu fecha de nacimiento">
                </div>
                <div>
                    <input type="number" placeholder="Digita tu DNI">
                </div>
                <div>
                    <input type="text" placeholder="Link a tu foto de perfil">
                </div>
                <button>Crear Cuenta</button>
    
            </form>
        
        </h2>
    </section>
<%- include('./partials/footer') %>

<!-- el footer queda feo aca -->
<!--  include('./partials/footer') %> -->

<!-- 
    Acá va el formulario de edición de datos del perfil de usuario. 
        Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos deñ usuario
            Eliminen estás líneas y coloquen el formulario.
                Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente -->