<%- include('./partials/head')  %>
<!-- falta include('./partials/header') pero por alguna razon crashea>
 -->


<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
            <form>
                <div>
                    <input type="text" placeholder="Nuevo usuario">
                    <button>Cambiar usuario</button>
                </div>
                <div>
                    <input type="text" placeholder="Nuevo DNI">
                    <button>Cambiar DNI</button>
                </div>
                <div>
                    <input type="text" placeholder="Nueva Contraseña">
                    <button>Cambiar Contraseña</button>
                </div>
                <div>
                    <input type="text" placeholder="Nuevo email">
                    <button>Cambiar email</button>
                </div>
    
            </form>
        
        </h2>

<!-- el footer queda feo aca -->
<!--  include('./partials/footer') %> -->

<!-- 
    Acá va el formulario de edición de datos del perfil de usuario. 
        Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos deñ usuario
            Eliminen estás líneas y coloquen el formulario.
                Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente -->