<%- include('./partials/head')  %>


    <section class="section-formularios">
    <div class="container-forms">
    <div class="row">
        <div class="col-12">
            <h2 class="titulos-formularios">Registrate</h2>
        </div>
    
        <form class="formularios" action="/users/register" method="post">
            <div>
                <input type="email" name="email" placeholder="Digita tu mail">
            </div>
            <div>
                <input type="text" name="nombre" placeholder="Digita tu usuario">
            </div>
            <div>
                <input type="password" name="password" placeholder="Digita tu contraseña">
            </div>
            <div>
                <input type="date" name="fecha_de_nacimiento" placeholder="Digita tu fecha de nacimiento">
            </div>
            <div>
                <input type="number" name="dni" placeholder="Digita tu DNI">
            </div>
            <div>
                <input type="text" placeholder="Link a tu foto de perfil">
            </div>
            <button>Crear Cuenta</button>

        </form>
    </div>
</div>
</section> 




<%- include('./partials/footer') %>