<%- include('./partials/head')  %>
<!-- falta include('./partials/header') pero por alguna razon crashea>
 -->

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <form>
            <div>
                <input type="email" placeholder="Digita tu mail">
            </div>
            <div>
                <input type="text" placeholder="Digita tu usuario">
            </div>
            <div>
                <input type="password" placeholder="Digita tu contrasenia">
            </div>
            <div>
                <input type="date" placeholder="Digita tu fecha de nacimiento">
            </div>
            <div>
                <input type="number" placeholder="Digita tu DNI">
            </div>
            <div>
                <input type="text" placeholder="Link a tu foto de perfil">
            </div>
            <button>Crear Cuenta</button>

        </form>



<%- include('./partials/footer') %>