	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-heart"></i>
						<h2>Sneakers on trend</h2>
						<p>Hacemos una seleccion de las zapatillas del momento, para que puedas encontrar todo lo mejor en un solo lugar.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-check"></i>
						<h2>Importadores oficiales</h2>
						<p> Somos la marca #1 importadora en el pais. Con DSL tenes un catálogo de las mejores zapatillas de todo el mundo.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Authentic Products</h2>
						<p> DSL garantiza productos originales, con prueba de atuenticidad. </p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>