
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/productos/add">Agregar productos</a></li>
            </ul>

            <ul class="right-navbar">
              <!--   Solo logueado  --><li><a href="/users/profile">
                    <%= locals.user.nombre %>  <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <button href="/users/login" class="logout" type="submit"><a href="/users/login" onclick="return confirm('¿Seguro que quieres cerrar sesion?')">
                        Cerrar sesión <i class="fas fa-sign-in-alt"></i> </a>
                    </button> 
                </li> 
            </ul>

           
        </nav>
    </div>
</header>

