<nav class="main-navbar">

            <ul class="right-navbar">
                <li>
                    <a href="/users/register">Creá tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
           
        </nav>
    </div>
</header>