
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/productos/add">Agregar productos</a></li>
            </ul>

            <ul class="right-navbar">
              <!--   Solo logueado  --><li><a href="/users/profile">
                    <%= usuarios[0] . nombre %>  <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <form action="" method="post">
                        <button href="/users/login" class="logout" type="submit"><a href="/users/login">
                            Cerrar sesión <i class="fas fa-sign-in-alt"></i> </a>
                        </button> 
                    </form>
                </li> 
            </ul>

           
        </nav>
    </div>
</header>

